<title>DrawIt</title>
<link rel="stylesheet" href="/bootstrapcss" />
<link rel="stylesheet" href="/lib/style.css" />
<script type="text/javascript" src="/jquery"> </script>
<script type="text/javascript" src="/bootstrapjs"> </script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/jscolor"></script>