<!DOCTYPE html>
<html>
<head>
	<%include head%>
	<script type="text/javascript">
		var requireName = <%= name%>;
	</script>

	<script src="/lib/menu.js" type="text/javascript"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">DrawIt <%= version%></a>
		</div>
		<ul class="nav navbar-nav">
			<li><button id="createGame" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#createModal">Create a Game</button></li>
		</ul>
	</nav>

	<div id="setName" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Set Name</h4>
				</div>
				<div class="modal-body">
					<form role="form" action="/setname" method="post">
						<div class="input-group">
							<input type="text" class="form-control" name="name" placeholder="Enter Name"></input>
							<span class="input-group-btn">
								<button class="btn btn-primary">Submit</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="joinGame" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Set Name</h4>
				</div>
				<div class="modal-body">
					<form role="form" action="/setname" method="post">
						<div class="input-group">
							<input type="text" class="form-control" name="name" placeholder="Enter Name"></input>
							<span class="input-group-btn">
								<button class="btn btn-primary">Submit</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="createModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<form role="form" id="createGame" action="/creategame" method="POST" style="width: 75%;">
						<div class="form-group">
							<label for="gameName">Name: </label>
							<input type="text" class="form-control" name="gameName" id="gameName" value="Untitled Game"></input>
						</div>
						<div class="form-group">
							<label for="gameWords">Words:</label>
							<select name="gameWords" class="form-control" id="gameWords">
								<option>Default</option>
							</select>
						</div>
						<div class="form-group">
							<label for="gameType">Game Type:</label>
							<select name="gameType" class="form-control" id="gameType">
								<option>Round Robin</option>
							</select>
						</div>
						<div class="form-group">
							<label for="gamePlayers">Max Players: </label>
							<input type="number" class="form-control" name="gamePlayers" id="gamePlayers" min="2" max="10" value="5"></input>
						</div>
						<div class="checkbox">
							<label><input id="hasPassword" type="checkbox" value="">Use Password</label>
						</div>
						<div class="form-group">
							<label for="gamePassword">Password: </label>
							<input type="text" class="form-control" name="gamePassword" id="gamePassword" value="" disabled></input>
						</div>
						<button type="submit" class="btn btn-primary">Create Game</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="container">
		
	</div>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="position: absolute;bottom: 0; right: 0; z-index:9999;">
			<label>Like the game?</label>
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBd+//sxJUTbO9RoD7+Pr9vgskcv8QgdyZY90mbpRWoWBpb2VmnowYHKfdyqB8WQ+Oc/TeANkQO6bKBGgdX8pmrbMS1rEmuBR6/wAow/PXctSYML/m28E267lR/NeFHAd/GvjIMCTQC3lqKmFtgn1JbhzsPoNoqw3omkJr9mbDZnDELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI31C+9fQlCHGAgaCBr4idvMWaxFIFkA7sN+YDqaOzjBcwpVRKWoeU7S4Q/pSK4qHDz9SUvWRgMy04M3Wx0muTqpH0ynjLUY0vuwrFTebd5lrRC27nLHOwTVnHwDbHUli324zTOxKKwcac7lQlnXHBo3w1tSI701IgmVtPRIlw7XB1YQoqL7z2W+Zs3nfrG3OSGxwLrRaxzN5RYpQHFjr3lLsn7bxK2r9oceagoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwODExMTU1NDM0WjAjBgkqhkiG9w0BCQQxFgQUG/+pndbiJgmUiDBqc0+dnyBjZt0wDQYJKoZIhvcNAQEBBQAEgYCDdYboy6dwV5F+19UcCCDsWTNdvp4WIRGQXSJG5wT7DrLGMCPizu7PWC3dg1AqS/bzU6/i6QJ75jB4dbY/NlKyFUB0x+rzz1dVUFcfwcxEJoErK5aGzxBgXRC+jj+oQnBTnvuNYCIe/yqjqiQkpuA/toraBjzUM4oaz/hZKnUaWw==-----END PKCS7-----
			">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
</body>
</html>